<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <title>Money!!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/optionBuilder.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .content {
            margin-top: 60px;
        }
    </style>
</head>

<body>
{% include "header.html" %}
<div class="container content">
{% block content %}
    Hello, World!
{% endblock %}
</div>

</body>
</html>
